<div class="p-4 h-100">
  <div *ngIf="!activeLanguage">
    <button class="btn btn-light float-start px-3" data-bs-toggle="modal" data-bs-target="#authModal">Auth</button>
    <button *ngIf="editAccess" class="btn btn-light float-end px-3" data-bs-toggle="modal"
      data-bs-target="#addModal">Add</button>
    <div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
      @if(languages?.length !== 0){
      <div class="shadow rounded bg-white p-3 col-md-3 col-8 text-center">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let language of languages" (click)="selectLanguage(language)"
            style="cursor: pointer;">
            <a [class.active]="activeLanguage === language"
              [style.color]="activeLanguage === language ? '#0d6efd' : 'inherit'">{{ language }}</a>
          </li>
        </ul>
      </div>
      } @else{
      <div class="shadow rounded bg-white p-3 col-md-3 col-8 text-center">
        <img src="../assets/noData.svg" class="w-50">
        <h3>There's no data!</h3>
      </div>
      }
    </div>
  </div>
  <div [ngClass]="{'d-none': !activeLanguage}">
    <i class="bi bi-chevron-left text-white h4" (click)="back()"></i>
    <h3 class="text-center text-white pb-4">{{ activeOption }} Snippet</h3>
    <form [formGroup]="searchForm">
      <div class="col-3 pe-3 mb-3">
        <div class="d-flex align-items-center justify-content-end">
          <input type="text" class="form-control" formControlName="search" (keyup.enter)="searchSnippet()" placeholder="search">
          <div class="position-absolute">
            <i *ngIf="searchForm.get('search')?.value != ''" class="bi bi-x-lg text-danger pe-3"
              (click)="clearSearch()"></i>
            <i class="bi bi-search pe-3" (click)="searchSnippet()"></i>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <h4 *ngIf="noData" class="text-white">No records found!</h4>
      @if(activeSnippet['code']){
      <div class="col-md-3 mb-3">
        <div class="shadow rounded bg-white p-3 h-100 d-flex flex-column">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between" *ngFor="let snippet of activeSnippets.snippets"
              (click)="selectSnippet(snippet.name)" style="cursor: pointer;">
              <a [class.active]="activeOption === snippet.name"
                [style.color]="activeOption === snippet.name ? '#0d6efd' : 'inherit'">{{ snippet.name }}</a>
              <i *ngIf="editAccess" class="bi bi-trash-fill text-danger" (click)="this.deleteId = snippet._id;"
                data-bs-toggle="modal" data-bs-target="#deleteModal"></i>
            </li>
          </ul>
          <button *ngIf="editAccess" class="btn btn-primary mt-3" data-bs-toggle="modal"
            data-bs-target="#snippetModal">Add
            Snippet</button>
        </div>
      </div>


      <div class="col-md-5 mb-3">
        <div class="shadow rounded bg-white p-3 h-100">
          <ul class="nav nav-tabs">
            <li class="nav-item" *ngFor="let tab of codeTabs" style="cursor: pointer;">
              @if(activeSnippet?.code[tab] !== ''){
              <a class="nav-link" [class.active]="activeTab === tab" (click)="activeTab = tab"
                [style.color]="activeTab === tab ? '#0d6efd' : 'inherit'">{{ tab.toUpperCase() }}</a>
              }
            </li>
          </ul>
          <div class="pt-4">
            <h4>{{ activeTab === 'Requirements' ? toTitleCase(activeTab) : toTitleCase(activeTab) + ' Code' }}</h4>
            <pre class="mb-0 scrollbar"><code>{{ activeSnippet?.code[activeTab] }}</code></pre>
          </div>
        </div>
      </div>
      }

      <div [ngClass]="{'d-none': noData}" class="col-md-4 mb-3">
        <div class="shadow rounded bg-white p-3 h-100">
          <h4 class="pb-3" style="border-bottom: 1px solid #dee2e6; padding-bottom: inherit;">Preview</h4>
          <div class="p-3 scrollbar">
            <div #previewContainer></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add language</h5>
        <button #closeButton1 type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addForm">
          <div class="mb-3">
            <label class="form-label">Name:</label>
            <input type="text" class="form-control" formControlName="language">
          </div>
        </form>
        <form [formGroup]="snippetForm">

          <div class="mb-3">
            <label class="form-label">Snippet Name:</label>
            <input type="text" class="form-control" formControlName="snippetName" (input)="errorMsg = ''">
            <small class="text-danger">{{ errorMsg }}</small>
          </div>

          <div class="d-flex">
            <div class="form-check" *ngFor="let codeType of ['HTML', 'CSS', 'JS']">
              <input class="form-check-input" type="checkbox" [formControlName]="codeType">
              <label class="form-check-label pe-3">{{ codeType }}</label>
            </div>
          </div>

          <div *ngFor="let codeType of ['HTML', 'CSS', 'JS']">
            <div *ngIf="snippetForm.get(codeType)?.value" class="my-3">
              <label class="form-label">{{ codeType }} Code:</label>
              <textarea class="form-control" [formControlName]="codeType.toLowerCase() + 'Code'"></textarea>
            </div>
          </div>

          <div class="my-3">
            <label class="form-label">Requirements (Optional):</label>
            <textarea class="form-control" formControlName="requirements"></textarea>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addLanguage()"
          [disabled]="this.addForm.invalid || this.snippetForm.invalid || !( snippetForm.value.HTML ||snippetForm.value.CSS ||snippetForm.value.JS)">
          Add Language
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="snippetModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Snippet</h5>
        <button #closeButton2 type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="snippetForm">

          <div class="mb-3">
            <label class="form-label">Snippet Name:</label>
            <input type="text" class="form-control" formControlName="snippetName" (input)="errorMsg = ''">
            <small class="text-danger">{{ errorMsg }}</small>
          </div>

          <div class="d-flex">
            <div class="form-check" *ngFor="let codeType of ['HTML', 'CSS', 'JS']">
              <input class="form-check-input" type="checkbox" [formControlName]="codeType">
              <label class="form-check-label pe-3">{{ codeType }}</label>
            </div>
          </div>

          <div *ngFor="let codeType of ['HTML', 'CSS', 'JS']">
            <div *ngIf="snippetForm.get(codeType)?.value" class="my-3">
              <label class="form-label">{{ codeType }} Code:</label>
              <textarea class="form-control" [formControlName]="codeType.toLowerCase() + 'Code'"></textarea>
            </div>
          </div>

          <div class="my-3">
            <label class="form-label">Requirements (Optional):</label>
            <textarea class="form-control" formControlName="requirements"></textarea>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addSnippet()"
          [disabled]="this.snippetForm.invalid || !(snippetForm.value.HTML ||snippetForm.value.CSS ||snippetForm.value.JS)">
          Add Snippet
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button #closeButton3 type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <img src="../assets/delete.svg" class="w-50">
        <h6>Are you sure want to delete snippet?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteSnippet()">
          delete
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="authModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Authentication</h5>
        <button #closeButton4 type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="authForm">
          <div class="mb-3">
            <label class="form-label">Username:</label>
            <input type="text" class="form-control" formControlName="uname">
          </div>
          <div class="mb-3">
            <label class="form-label">Password:</label>
            <div class="d-flex align-items-center justify-content-end">
              <input type="{{ hidePassword ? 'password' : 'text' }}" class="form-control" formControlName="pwd"
                (keyup.enter)="Authenticate()" autocomplete="off">
              <i *ngIf="authForm.get('pwd')?.value != ''" [ngClass]="hidePassword ? 'bi bi-eye-slash' : 'bi bi-eye'"
                class="position-absolute pe-3" (click)="togglePassword()"></i>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="Authenticate()" [disabled]="this.authForm.invalid">
          procced
        </button>
      </div>
    </div>
  </div>
</div>